header{
background-color:#77e4d4;
font-family:'Economica',
sans-serif;
height : 10px;
padding:25px;
margin : 0px 0px 0px 0px;
}

footer{
background-color:#77e4d4;
font-family:'Economica',
sans-serif;
}
}

#connection{

float: right;
margin-right : 0px;

}


#header{

display: flex;
justify-content: space-around;
}

#garantie{
display: flex;
justify-content: space-around;
}

#copyright{
	
    display: flex;
    justify-content: center;
    background-color :#998CEB;
}