body {
    background: #00937C;
}
fieldset{
    
}
#container {
    width: 400px;
    margin: 0 auto;

    padding:30px;
    font-family: 'Economica',
    sans-serif;
    font-size: 20px;
border-radius: 3px;

    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);

}


/* Bordered form */


#container h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#container h2 {
    margin: 10px;
    padding-top: 15px;
    padding:5 px;
}



input[type=text],
input[type=password],
input[type=number],
input[type=date]
 {
    width: 100%;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #00937C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: #00937C;
    border: 1px solid #00937C;
}



input {
    background-color: #e4dcd8;
    ;
    border-radius: 8px;
    color: #00475E;
    border: 2px solid;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Economica',
        sans-serif;

}


#titre {
    text-align: center;
    font-size: 50px;
    font-family: 'Economica',
    sans-serif;
    padding : 15px;
}


