/* @author: Luka CHOUVILLE */
/* V2------Maxence---------*/

form {
  box-sizing: border-box;
  flex-direction: column;
}

/* 1- Position 2 colone */
.inscription {
	display: flex;
	
	justify-content: center;
}
.inscription > div {
	flex: 1;
	min-width: 0;
	width: auto;
}
.inscription > div + div {
	margin-left: 1em;
}

/* 2- fluid inputs */
.inscription-champs > p {
	display: flex;
}
.inscription input:not([type=submit]) {
	flex: 1;
	display: block;
	min-width: 0;
}
.inscription-champs + .inscription-champs {
	display: flex;
	flex-direction: column;
}

.inscription-Bouton{
	display: flex;
	justify-content: center;
}

