/* Design Graphique*/
/*-----@Author Maxence-----*/

/*Rationnalisation des css INSCRIPTION / MODIFICATIONS DE PROFILS / et tous css comprennant du Formulaire */

body {
    max-width: 1000px;
    margin: auto;
    padding: 1em;
    background: rgba(0, 0, 0, .1);
    color: #333;
}

form {
    padding: 1em;
    background: #fff;
    border: 1px solid gray;
    border-radius: 4px;
}

.inscription {
    margin-bottom: 1em;
}

input,
textarea {
    padding: .3em;
    border: 1px solid #555;
    border-radius: 4px;
    background: rgba(0, 0, 0, .02);
}

input[type="submit"] {
    padding: .3em 1em;
    margin-right: 1em;
    background: #555;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

input[type="reset"] {
    padding: .3em 1em;
    margin-left: 1em;
    background: #555;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

label {
    width: auto;
    ;
    text-align: left;
}

.champs>p:first-child {
    margin-top: 0;
}

.champs>p:last-child {
    margin-bottom: 0;
}